@import 'tailwindcss';

/* Custom Font Definitions */
@font-face {
	font-family: 'SuisseIntl';
	src: url('/fonts/SuisseIntl-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SuisseIntl';
	src: url('/fonts/SuisseIntl-Medium.woff2') format('woff2');
	font-weight: medium;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SuisseIntl';
	src: url('/fonts/SuisseIntl-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Arges';
	src: url('/fonts/Arges-NormalBlack.woff2') format('woff2'),
		url('/fonts/Arges-NormalBlack.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Arges';
	src: url('/fonts/Arges-NormalMedium.woff2') format('woff2'),
		url('/fonts/Arges-NormalMedium.woff') format('woff');
	font-weight: medium;
	font-style: normal;
	font-display: swap;
}

@theme {
	--color-gGray-100: #f6f6f6;
	--color-gGray-300: #b3b3b3;
	--color-gGray-400: #818181;
	--color-gGray-500: #555555;
	--color-sSlate-100: #e6e9f0;
	--color-sSlate-200: #b5bed1;
	--color-sSlate-300: #6a7ca2;
	--color-sSlate-400: #395183;
	--color-sSlate-600: #072564;
	--color-sSlate-800: #04163c;
	--color-sSlate-900: #05122e;
	--color-sSlate-950: #000216;
	--color-oOrange-500: #f37021;
	--hero-height: calc(100vh - 66px);
	--font-suisse-intl: 'SuisseIntl', sans-serif;
	--font-arges: 'Arges', sans-serif;
}

body {
	@apply bg-sSlate-950;
}
